:root {
    --color-0: #ffffff;
    --color-1: #1c1c1c;
    --color-2: #080808;
    --color-3: #e6e6e6;
    --color-4: #c7c7c7;
    --color-5: #a3a3a3;
    --color-6: #fefefe;
    --color-7: #888888;
    --color-accent-1: #0b75df;
    --color-accent-2: #0868c8;
    --color-accent-3: #0b75df;
    --color-accent-4: #5cb85c;
}